@import '../node_modules/@zendeskgarden/css-forms';
@import '../node_modules/@zendeskgarden/css-buttons';
@import '../node_modules/@zendeskgarden/css-bedrock';

body { 
  padding: 16px;
}
form {
  width: 100%;
  font-family: sans-serif;
}

form > *:not(:first-child) {
  margin-top: 8px;
}

form > input:last-child {
  margin-top: 20px;
  width: 100%;
}